<!DOCTYPE html>
<html>
<head>
  <title>On ArsTechnica</title>
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/styles.css">


</head>
<body>
  <div class="container" id="articles_cont">

    <div class="row">
      <div class="col s12 m12">
        <h1 class="header green-text"> Comment on ArsTechnica </h1>
      </div>
    </div>

    
        {{{body}}}
  </div>

  <script type="text/javascript" src="/public/js/jquery-3.1.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <script type="text/javascript" src="/public/js/script.js"></script>
  
</body>
</html>